#welcomeBox{
  background-color: #9adf9f;
}

#userName{
  background-color: #8fd176;
}

#welcomeBox{
  color: whitesmoke;
  background-color: #016166!important;
  width: 80vw;
  height: 60vh;
}

.role {
  margin: 1vmin 1vmax;
}

.footer {
  background: #016166
}
