<div style="height: 85vh; width: 100vw; background-color: #2f9499;" class="d-flex justify-content-center align-items-center">
  <div class="row position-absolute">
    <div id="centraBox" class="d-flex justify-content-between" style="width: 80vw; height: 60vh;">
      <div id="welcomeBox" class="w-100 d-flex  justify-content-center align-items-center">
        <div style="width: 25%; border-right: #a86c5d 1px solid;" class="h-100">
          <section style="height:15vh;" class="d-flex justify-content-center align-items-center">
            <h4 class="text-center">Marco Costantino</h4>
          </section>
          <div class="d-flex justify-content-center align-items-center" style="height: 15vh; background-color: #a86c5d">
            <img style="height: 80%;" src="https://cdn1.iconfinder.com/data/icons/data-science-1-1/512/20-512.png"
              alt="icon"></div>
          <div style="height: 58.5%;" class="w-100 d-flex flex-column align-items-center justify-content-start">
            <p class="role text-center">Angular developer front-end</p>
            <p class="role text-center">Scalatore a mani nude</p>
          </div>
        </div>
        <div style="width: 25%; border-right: #a86c5d 1px solid;" class="h-100">
          <section style="height:15vh;" class="d-flex justify-content-center align-items-center">
            <h4 class="text-center">Antonio Platania</h4>
          </section>
          <div class="d-flex justify-content-center align-items-center" style="height: 15vh; background-color: #a86c5d">
            <img style="height: 80%;" src="https://cdn1.iconfinder.com/data/icons/data-science-1-1/512/20-512.png"
              alt="icon"></div>
          <div style="height: 58.5%;" class="w-100 d-flex flex-column align-items-center justify-content-start">
            <p class="role text-center">Front-end developer esperto in RxJs</p>
            <p class="role text-center">Innamorato da sempre di Trivia</p>
          </div>
        </div>
        <div style="width: 25%; border-right: #a86c5d 1px solid;" class="h-100">
          <section style="height:15vh;" class="d-flex justify-content-center align-items-center">
            <h4 class="text-center">Dylan Bastonini</h4>
          </section>
          <div class="d-flex justify-content-center align-items-center" style="height: 15vh; background-color: #a86c5d">
            <img style="height: 80%;" src="https://cdn1.iconfinder.com/data/icons/data-science-1-1/512/20-512.png"
              alt="icon"></div>
          <div style="height: 58.5%;" class="w-100 d-flex flex-column mt-0 align-items-center justify-content-start">
            <p class="role text-center">Software developer Angular</p>
            <p class="role text-center">Pirata informatico</p>
          </div>
        </div>
        <div style="width: 25%; border-right: #a86c5d 1px solid;" class="h-100">
          <section style="height:15vh;" class=" d-flex justify-content-center align-items-center">
            <h4 class="text-center">Rosalia Spatoliatore</h4>
          </section>
          <div class="d-flex justify-content-center align-items-center" style="height: 15vh; background-color: #a86c5d">
            <img style="height: 80%;" src="https://cdn1.iconfinder.com/data/icons/data-science-1-1/512/20-512.png"
              alt="icon"></div>
          <div style="height: 58.5%;" class="w-100 d-flex flex-column align-items-center justify-content-start">
            <p class="role text-center"> Front-end software developer </p>
            <p class="role hobby text-center">Ballerina di danze tribali</p>
          </div>
        </div>
        <div style="width: 25%;" class="h-100 ">
          <section style="height:15vh;" class=" d-flex justify-content-center align-items-center">
            <h4 class="text-center">Riccardo Mammima</h4>
          </section>
          <div class="d-flex justify-content-center align-items-center" style="height: 15vh; background-color: #a86c5d">
            <img style="height: 80%;" src="https://cdn1.iconfinder.com/data/icons/data-science-1-1/512/20-512.png"
              alt="icon"></div>
          <div style="height: 58.5%;" class="w-100 d-flex flex-column align-items-center justify-content-start">
            <p class="role text-center">Javascript developer</p>
            <p class="role text-center">Sognatore a occhi chiusi</p>
          </div>
        </div>
      </div>
       <game-footer class="w-100 footer" style="position: absolute; bottom: 0;"></game-footer>
    </div>

  </div>
