#userName{
  background-color: #2f9499;
  border: 2px solid #a86c5d;
}

#centraBox{
  color: whitesmoke;
  background-color: #016166;
  width: 80vw;
  height: 60vh;
}

button{
 color: #016166;
 background-color: #a86c5d;

}
