#centraBox{
  color: whitesmoke;
  background-color: #016166;
  min-width: 80vw;
  // height: 60vh;
}

tr{
  color: #a86c5d;
  border: none!important;
}
 *{
   border: none!important;
 }

 .badge-secondary{
   background-color: #A86C5D;
   color: #013033;
 }
