<div style="height: 85vh; width: 100vw;" class="d-flex justify-content-center align-items-center">
  <div class="d-flex position-absolute">
    <div id="centraBox" class="d-flex justify-content-center align-items-start rounded text-white">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let elem of leaderboard; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{elem.userName}}</td>
            <td>{{elem.score}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    </div>


