a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {
  background-color: #016166 !important;
}
 .bg-primary{
  background-color: #016166 !important;
 }
 .border-primary{
  background-color: #016166 !important;
 }
